body{
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: aliceblue;
 }
 
 .list-header{
    font-size: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase ;
    padding-left: 36%;
    padding-bottom: 8%;
 }
 
 .list-img {
    padding-left: 33%
 }
 
 .mysection {
    font-size: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase ;
    color: rgb(218, 72, 14);
    padding-left: 42%;

 }